/* 
	Button that raises up when hovered over.
	Inspiration taken from https://www.joshwcomeau.com/animation/3d-button/.
*/

.hk-btn-hover {
	background-color: var(--secondary);
	border-radius: 10px; }

	.hk-btn-hover > div {
		height: 100%;
		width: 100%;
		border: none;
		color: var(--secondary);
		background-color: var(--primary);
		border: 5px solid var(--secondary);
		border-radius: 10px;
		transition: transform 0.2s; }

	.hk-btn-hover > div:hover {
	transform: translateY(-10px);
}