<div class="hk-content">
  <div style="width: 75%; padding: 50px 0">
    <div style="text-align: center; color: var(--secondary); font-size: 48px">
      <p>Available Games</p>
    </div>

    <form action="" class="hk-section-row hk-game-search-form">
      <input
        id="codeField"
        type="text"
        maxlength="6"
        placeholder="Room Code"
        autofocus
        (input)="handleCodeUpdated()"
      />
      <main-button-form height="50px" width="120px">
        <p style="font-size: 20px">
          <span><i class="fas fa-search"></i></span> Search
        </p>
      </main-button-form>
    </form>

    <div class="hk-section-row">
      <div class="hk-join-game-header">
        <div style="position: relative;" (click)="sortGames('host')">Host</div>
        <div style="position: relative;" (click)="sortGames('code')">Code</div>
        <div style="position: relative;" (click)="sortGames('players')">Players</div>
      </div>
      <div id="gameList">
        <div class="list-item-wrapper" *ngFor="let game of games">
          <game-list-item
            username="{{ game.host }}"
            code="{{ game.code }}"
            players="{{ game.players }}"
          ></game-list-item>
        </div>
      </div>
    </div>

    <div class="hk-section-row">
      <main-button height="75px" width="150px" dest="/">
        <p style="font-size: 20px">
          <span><i class="fas fa-times"></i></span> Cancel
        </p>
      </main-button>
    </div>
  </div>
</div>
