<div class="hk-content">
  <div style="width: 75%; padding: 100px 0">
    <div style="text-align: center; color: var(--secondary); font-size: 48px">
      <p>Available Games</p>
    </div>

    <div style="margin-top: 75px">
      <div
        style="
          height: 50px;
          width: 100%;
          color: var(--secondary);
          display: flex;
          justify-content: space-around;
          align-items: center;
        "
      >
        <div style="width: 40%; text-align: center">Username</div>
        <div style="width: 20%; text-align: center">Code</div>
        <div style="width: 40%; text-align: center">Players</div>
      </div>
      <div *ngFor="let game of games">
        <game-list-item
          username="{{ game.username }}"
          code="{{ game.code }}"
          players="{{ game.players }}"
        ></game-list-item>
      </div>
    </div>

    <div style="margin-top: 50px">
      <main-button height="75px" width="150px" dest="/">
        <p style="font-size: 20px">
          <span><i class="fas fa-times"></i></span> Cancel
        </p>
      </main-button>
    </div>
  </div>
</div>
