<div class="hk-content">
  <div style="width: 75%; padding: 50px 0">
    <div style="text-align: center; color: var(--secondary); font-size: 48px">
      <p>Available Games</p>
    </div>

    <form action="" class="hk-game-search-form">
      <input
        type="text"
        maxlength="6"
        placeholder="Room Code"
        autofocus="autofocus"
      />
      <button type="submit" class="hk-btn-hover no-under">
        <div>
          <div
            style="
              height: 100%;
              display: flex;
              justify-content: center;
              align-items: center;
              flex-direction: column;
            "
          >
            <p style="font-size: 20px">
              <span><i class="fas fa-search"></i></span> Search
            </p>
          </div>
        </div>
      </button>
    </form>

    <div style="margin-top: 50px">
      <div class="hk-join-game-header">
        <div>Host</div>
        <div>Code</div>
        <div>Players</div>
      </div>
      <div id="gameList">
        <div *ngFor="let game of games">
          <game-list-item
            username="{{ game.username }}"
            code="{{ game.code }}"
            players="{{ game.players }}"
          ></game-list-item>
        </div>
      </div>
    </div>

    <div>
      <main-button height="75px" width="150px" dest="/">
        <p style="font-size: 20px">
          <span><i class="fas fa-times"></i></span> Cancel
        </p>
      </main-button>
    </div>
  </div>
</div>
