<div class="hk-content">
  <div style="padding: 100px 0">
    <div style="text-align: center; color: var(--secondary); font-size: 48px">
      Hoo Knows?
    </div>

    <div style="margin-top: 75px">
      <div class="hk-grid-2x2">
        <main-button
          height="160px"
          width="160px"
          iconClasses="fas fa-plus fa-4x"
          dest="/host-game"
        >
          <p style="margin-top: 10px; font-size: 20px">Host Game</p>
        </main-button>
        <main-button
          height="160px"
          width="160px"
          iconClasses="fas fa-users fa-4x"
          dest="/join-game"
        >
          <p style="margin-top: 10px; font-size: 20px">Join Game</p>
        </main-button>
        <main-button
          height="160px"
          width="160px"
          iconClasses="fas fa-pencil-alt fa-4x"
          dest="/"
        >
          <p style="margin-top: 10px; font-size: 20px">Submit</p>
          <p style="font-size: 20px">Category</p>
        </main-button>
        <main-button
          height="160px"
          width="160px"
          iconClasses="fas fa-user fa-4x"
          dest="/"
        >
          <p style="margin-top: 10px; font-size: 20px">Login/Register</p>
        </main-button>
      </div>
    </div>
  </div>
</div>
