<div class="hk-content">
  <div style="padding: 100px 0">
    <div style="text-align: center; color: var(--secondary); font-size: 48px">
      <p>Play With</p>
      <p>Questions From...</p>
    </div>
    <div style="margin-top: 75px">
      <div class="hk-grid-1x2">
        <main-button
          height="160px"
          width="160px"
          iconClasses="fas fa-users fa-4x"
          dest="/"
        >
          <p style="margin-top: 10px; font-size: 20px">Other Players</p>
        </main-button>
        <main-button
          height="160px"
          width="160px"
          iconClasses="fas fa-globe-americas fa-4x"
          dest="/"
        >
          <p style="margin-top: 10px; font-size: 20px">Internet</p>
        </main-button>
      </div>
    </div>
    <div style="margin-top: 50px">
      <main-button height="75px" width="150px" dest="/">
        <p style="font-size: 20px">
          <span><i class="fas fa-times"></i></span> Cancel
        </p>
      </main-button>
    </div>
  </div>
</div>
