<div class="hk-content">
  <div style="width: 75%; padding: 50px 0">
    <div style="text-align: center; color: var(--secondary); font-size: 48px">
      <p>Submit a Category!</p>
    </div>

    <form action="">
      <div class="hk-section-row" id="hk-submit-category-header">
        <main-button height="50px" width="120px" dest="/">
          <p style="font-size: 20px">
            <span><i class="fas fa-times"></i></span> Cancel
          </p>
        </main-button>
        <input
          type="text"
          placeholder="Category Name"
          autofocus
          style="font-size: 20px; text-align: center"
          (input)="handleCategoryNameChange()"
          id="categoryField"
        />
        <main-button-form height="50px" width="120px">
          <p style="font-size: 20px">
            <span><i class="fas fa-check"></i></span> Submit
          </p>
        </main-button-form>
      </div>

      <div class="hk-section-row" id="hk-submit-category-content">
        <div>
          <flip-card-modal
            height="200px"
            width="300px"
            value="200"
          ></flip-card-modal>
          <flip-card-modal
            height="200px"
            width="300px"
            value="400"
          ></flip-card-modal>
          <flip-card-modal
            height="200px"
            width="300px"
            value="600"
            style="width: 100%"
          ></flip-card-modal>
          <flip-card-modal
            height="200px"
            width="300px"
            value="800"
          ></flip-card-modal>
          <flip-card-modal
            height="200px"
            width="300px"
            value="1000"
          ></flip-card-modal>
        </div>
      </div>
    </form>
  </div>
</div>
