<div class="hk-content">
  <div style="padding: 50px 0">
    <div style="text-align: center; color: var(--secondary); font-size: 48px">
      Login / Register
    </div>

    <div style="margin-top: 75px">
      <div class="hk-login-button-wrapper">
        <div
          style="
            height: 100%;
            display: flex;
            align-items: center;
            text-align: center;
          "
        >
          <div style="flex: 1" (click)="switchTabs('register', 'login')">
            Login
          </div>
          <div style="flex: 1" (click)="switchTabs('login', 'register')">
            Register
          </div>
        </div>
      </div>
      <div class="hk-login-content-wrapper">
        <div id="loginContent" class="hk-login-content-form">
          <div>
            <form
              action=""
              name="loginForm"
              id="loginForm"
              #loginForm="ngForm"
              (ngSubmit)="handleLogin()"
              method="POST"
              novalidate
            >
              <input
                type="text"
                placeholder="Enter Username"
                name="usernameFieldLogin"
                id="usernameFieldLogin"
                style="font-size: 20px; text-align: center; margin-bottom: 20px"
                [(ngModel)]="user.username"
                #usernameFieldLogin="ngModel"
                [class.is-invalid]="usernameFieldLogin.invalid"
                autofocus
                required
              />
              <input
                type="password"
                placeholder="Enter Password"
                name="passwordFieldLogin"
                id="passwordFieldLogin"
                style="font-size: 20px; text-align: center; margin-bottom: 20px"
                [(ngModel)]="user.password"
                #passwordFieldLogin="ngModel"
                [class.is-invalid]="passwordFieldLogin.invalid"
                required
              />
              <button
                [class.submit-disabled]="loginForm.invalid"
                type="submit"
                class="hk-btn-hover no-under"
                style="
                  height: 50px;
                  width: 120px;
                  padding: 0;
                  border: 0;
                  background: var(--secondary);
                  cursor: pointer;
                  margin-bottom: 20px;
                "
              >
                <div>
                  <div
                    style="
                      height: 100%;
                      display: flex;
                      justify-content: center;
                      align-items: center;
                      flex-direction: column;
                    "
                  >
                    <p style="font-size: 20px">Login</p>
                  </div>
                </div>
              </button>
              <main-button height="50px" width="120px" dest="/">
                <p style="font-size: 20px">
                  <span><i class="fas fa-times"></i></span> Cancel
                </p>
              </main-button>
            </form>
          </div>
        </div>
        <div id="registerContent" class="hk-login-content-form display-none">
          <div>
            <form
              action=""
              name="registerForm"
              id="registerForm"
              #registerForm="ngForm"
              (ngSubmit)="handleRegister()"
              method="POST"
              novalidate
            >
              <input
                type="text"
                placeholder="Enter First Name"
                name="firstNameField"
                id="firstNameField"
                style="font-size: 20px; text-align: center; margin-bottom: 20px"
                [(ngModel)]="user.firstName"
                #firstNameField="ngModel"
                [class.is-invalid]="firstNameField.invalid"
                autofocus
                required
              />
              <input
                type="text"
                placeholder="Enter Last Name"
                name="lastNameField"
                id="lastNameField"
                style="font-size: 20px; text-align: center; margin-bottom: 20px"
                [(ngModel)]="user.lastName"
                #lastNameField="ngModel"
                [class.is-invalid]="lastNameField.invalid"
                autofocus
                required
              />
              <input
                type="text"
                placeholder="Enter Username"
                name="usernameFieldRegister"
                id="usernameFieldRegister"
                style="font-size: 20px; text-align: center; margin-bottom: 20px"
                [(ngModel)]="user.username"
                #usernameFieldRegister="ngModel"
                [class.is-invalid]="usernameFieldRegister.invalid"
                autofocus
                required
              />
              <input
                type="password"
                placeholder="Enter Password"
                name="passwordFieldRegister"
                id="passwordFieldRegister"
                style="font-size: 20px; text-align: center; margin-bottom: 20px"
                [(ngModel)]="user.password"
                #passwordFieldRegister="ngModel"
                [class.is-invalid]="passwordFieldRegister.invalid"
                required
              />
              <button
                [class.submit-disabled]="registerForm.invalid"
                type="submit"
                class="hk-btn-hover no-under"
                style="
                  height: 50px;
                  width: 120px;
                  padding: 0;
                  border: 0;
                  background: var(--secondary);
                  cursor: pointer;
                  margin-bottom: 20px;
                "
              >
                <div>
                  <div
                    style="
                      height: 100%;
                      display: flex;
                      justify-content: center;
                      align-items: center;
                      flex-direction: column;
                    "
                  >
                    <p style="font-size: 20px">Register</p>
                  </div>
                </div>
              </button>
              <main-button height="50px" width="120px" dest="/">
                <p style="font-size: 20px">
                  <span><i class="fas fa-times"></i></span> Cancel
                </p>
              </main-button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
