<!-- Login/Register Slider Inspired By http://jsfiddle.net/x87h1owb/ -->

<div class="hk-content">
  <div style="padding: 50px 0">
    <div style="text-align: center; color: var(--secondary); font-size: 48px">
      Login / Register
    </div>

    <div style="margin-top: 75px">
      <div style="position: relative; height: 50px; width: 100%">
        <div class="hk-login-button-wrapper">
          <div>
            <div
              id="login"
              class="blue-text"
              (click)="switchTabs('register', 'login')"
            >
              <div>Login</div>
            </div>
            <div id="register" (click)="switchTabs('login', 'register')">
              <div>Register</div>
            </div>
          </div>
        </div>
        <div id="LoginRegisterTab"></div>
      </div>
      <div class="hk-login-content-wrapper">
        <div id="errorMessage" class="display-none">ERROR MESSAGE</div>
        <div id="loginContent" class="hk-login-content-form">
          <div>
            <form
              name="loginForm"
              id="loginForm"
              #loginForm="ngForm"
              (ngSubmit)="handleLogin()"
              method="POST"
              novalidate
            >
              <input
                type="text"
                placeholder="Enter Username"
                name="usernameFieldLogin"
                id="usernameFieldLogin"
                [(ngModel)]="user.username"
                #usernameFieldLogin="ngModel"
                [class.is-invalid]="usernameFieldLogin.invalid"
                autofocus
                required
              />
              <input
                type="password"
                placeholder="Enter Password"
                name="passwordFieldLogin"
                id="passwordFieldLogin"
                [(ngModel)]="user.password"
                #passwordFieldLogin="ngModel"
                [class.is-invalid]="passwordFieldLogin.invalid"
                required
              />
              <button
                [class.submit-disabled]="loginForm.invalid"
                type="submit"
                class="hk-btn-hover no-under"
              >
                <div>
                  <div
                    style="
                      height: 100%;
                      display: flex;
                      justify-content: center;
                      align-items: center;
                      flex-direction: column;
                    "
                  >
                    <p style="font-size: 20px">Login</p>
                  </div>
                </div>
              </button>
              <main-button height="50px" width="120px" dest="/">
                <p style="font-size: 20px">
                  <span><i class="fas fa-times"></i></span> Cancel
                </p>
              </main-button>
            </form>
          </div>
        </div>
        <div id="registerContent" class="hk-login-content-form display-none">
          <div>
            <form
              name="registerForm"
              id="registerForm"
              #registerForm="ngForm"
              (ngSubmit)="handleRegister()"
              method="POST"
              novalidate
            >
              <input
                type="text"
                placeholder="Enter First Name"
                name="firstNameField"
                id="firstNameField"
                [(ngModel)]="user.firstName"
                #firstNameField="ngModel"
                [class.is-invalid]="firstNameField.invalid"
                autofocus
                required
              />
              <input
                type="text"
                placeholder="Enter Last Name"
                name="lastNameField"
                id="lastNameField"
                [(ngModel)]="user.lastName"
                #lastNameField="ngModel"
                [class.is-invalid]="lastNameField.invalid"
                autofocus
                required
              />
              <input
                type="text"
                placeholder="Enter Username"
                name="usernameFieldRegister"
                id="usernameFieldRegister"
                [(ngModel)]="user.username"
                #usernameFieldRegister="ngModel"
                [class.is-invalid]="usernameFieldRegister.invalid"
                autofocus
                required
              />
              <input
                type="password"
                placeholder="Enter Password"
                name="passwordFieldRegister"
                id="passwordFieldRegister"
                [(ngModel)]="user.password"
                #passwordFieldRegister="ngModel"
                [class.is-invalid]="passwordFieldRegister.invalid"
                required
              />
              <button
                [class.submit-disabled]="registerForm.invalid"
                type="submit"
                class="hk-btn-hover no-under"
              >
                <div>
                  <div
                    style="
                      height: 100%;
                      display: flex;
                      justify-content: center;
                      align-items: center;
                      flex-direction: column;
                    "
                  >
                    <p style="font-size: 20px">Register</p>
                  </div>
                </div>
              </button>
              <main-button height="50px" width="120px" dest="/">
                <p style="font-size: 20px">
                  <span><i class="fas fa-times"></i></span> Cancel
                </p>
              </main-button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
